# Mac
.DS_Store
__MACOSX/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Outputs
# data/derived-data/

data/raw-data/address_data.xlsx
data/raw-data/cleaned_addresses_full.csv
